<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-page">
  <ion-card>
      <img src="/assets/shapes.jpg" alt="" />
      
      <div>
        
        <ion-card-header>
          <ion-card-title color="favorite">Solicitudes EDP</ion-card-title>
          <ion-card-subtitle color="gris">Usuario: <b>{{ user }}</b></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <div *ngIf="items; else notInfo">
              <ion-grid>
              <ion-item *ngFor="let item of items | async">
                  <ion-row>
                    <ion-col>
                      <ion-label color="favorite">{{ item.solicitudEDP }}</ion-label>
                      <ion-label position="stacked" color="gris">Creado Por: {{ item.user }}</ion-label>
                      <ion-label class="timestamps" position="stacked" color="gris">Modificado el: {{ item.formularioModificadoEl.seconds * 1000 | date:'yyyy-MM-dd hh:mm:ss' }}</ion-label>
                      <ion-label *ngIf="item.creadoEl; else notCreated" class="timestamps" position="stacked" color="gris">Creado el: {{ item.creadoEl.seconds * 1000 | date:'yyyy-MM-dd hh:mm:ss' }}</ion-label>
                      <ng-template #notCreated>
                        <ion-label class="timestamps" position="stacked" color="gris">Creado el: {{ item.formularioModificadoEl.seconds * 1000 | date:'yyyy-MM-dd hh:mm:ss' }}</ion-label>
                      </ng-template>
                    </ion-col>
                    <ion-col>
                      <ion-button *ngIf="user == item.user; else showImages" color="amarillo" (click)="form.populateImages(item)">Agregar Imágenes</ion-button>
                      <ion-button *ngIf="user == item.user; else show" color="favorite" (click)="form.populateForm(item)">Editar Formulario</ion-button>
                      
                      <ng-template #showImages>
                        <ion-button color="amarillo" (click)="form.populateImages(item)">Ver Imagenes</ion-button>
                      </ng-template>
                      
                      <ng-template #show>
                        <ion-button color="favorite" (click)="form.populateForm(item)">Ver Formulario</ion-button>
                      </ng-template>
                    </ion-col>
                  </ion-row>
                  
                  <!-- <ion-button color="danger">Eliminar</ion-button> -->
                </ion-item>
              </ion-grid>
            </div>
            <ng-template #notInfo>
                <ion-card-subtitle color="danger"><b>No hay informacion que mostrar</b></ion-card-subtitle>
            </ng-template>
          </ion-list>
        </ion-card-content>
        
      </div>
  </ion-card>
</ion-content>
