<ion-header>
  <ion-toolbar class="toolbar-superior">
  </ion-toolbar>
</ion-header>

<span>
  <ion-card class="screen-centered">
    <ion-card-header>
      <ion-card-title class="ion-text-center">INICIO DE SESIÓN</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <p>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Correo Electrónico" type="email">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input formControlName="password" matInput placeholder="Contraseña" type="password">
          </mat-form-field>
        </p>
        <p>
          <ion-button expand="block" [disabled]="loginForm.invalid" type="submit" color="primary">Iniciar Sesión</ion-button>
        </p>
      </form>
    </ion-card-content>
  </ion-card>
</span>


