<ion-header>
	<ion-toolbar>
    	<ion-buttons slot="start">
      		<ion-menu-button></ion-menu-button>
    	</ion-buttons>
		<ion-title>
			Agencia Nacional de Tierras
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="home-page">
    <ion-card>
		<img src="/assets/shapes.jpg" alt="" />
		
		<div>
			
			<ion-card-header [hidden]="success || loading">
				<ion-card-title>FORMULARIO DE SEGUIMIENTO</ion-card-title>
				<ion-card-subtitle>Adjudicaciones Entidades de Derecho Publico</ion-card-subtitle>
				<ion-card-subtitle>Usuario: {{antForm.controls.user.value}}</ion-card-subtitle>
			</ion-card-header>

        	<ion-card-content>
          		<form [formGroup]="antForm" (ngSubmit)="submitHandler()" [hidden]="success || loading">
            		<mat-accordion>	
					
						<div formGroupName="soliciudEDP">
							<mat-expansion-panel>
								
								<mat-expansion-panel-header>
									<mat-panel-title>
										Número de Solicitud EDP										
									</mat-panel-title>
									<mat-panel-description *ngIf="antForm.controls.soliciudEDP.valid">																			
										<ion-icon name="checkmark-circle-outline" color="success" size="large"></ion-icon>								
									</mat-panel-description>
								</mat-expansion-panel-header>
								
								<ion-grid>																		

									<ion-row>
										<mat-form-field>
											<input type="text" formControlName="numeroSolicitudEDP" pattern="(^[a-zA-Z0-9_]+$)" matTooltip="Solo puede contener numeros y letras" matInput placeholder="Número de Solicitud EDP">
										</mat-form-field>
									</ion-row>
									
								</ion-grid>
							</mat-expansion-panel>
						</div>
				
						<br>

              			<div formGroupName="capituloUno">
							<mat-expansion-panel>
								
								<mat-expansion-panel-header>
									<mat-panel-title>
										Capitulo 1. Identificación del Predio
									</mat-panel-title>
									<mat-panel-description *ngIf="antForm.controls.capituloUno.valid">																			
										<ion-icon name="checkmark-circle-outline" color="success" size="large"></ion-icon>								
									</mat-panel-description>
								</mat-expansion-panel-header>
				
								<ion-grid>
									
									<ion-row>
										<ion-col>
											<mat-form-field>												
												<mat-label>1.1 - Departamento</mat-label>
												<mat-select formControlName="departamento" (selectionChange)="updateSelect()">
													<mat-option value=""></mat-option>												
													<mat-option *ngFor="let key of colombiaJson" value="{{ key.departamento }}">{{ key.departamento }}</mat-option>
												</mat-select>
											</mat-form-field>                
										</ion-col>
										<ion-col>
											<mat-form-field>												
												<mat-label>1.2 - Municipio</mat-label>
												<mat-select formControlName="municipio">                    
													<mat-option value=""></mat-option>
													<mat-option *ngFor="let city of cities" value="{{ city }}">{{ city }}</mat-option>
												</mat-select>
											</mat-form-field>                
										</ion-col>
									</ion-row>                                         
									
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>1.3 - Tipo de Territorio</mat-label>		
												<mat-select formControlName="tipoTerritorio">
													<mat-option value=""></mat-option>
													<mat-option value="vereda">Vereda</mat-option>
													<mat-option value="corregimiento">Corregimiento</mat-option>
													<mat-option value="municipal">Cabecera Municipal</mat-option>
													<mat-option value="na">N/A</mat-option>
													<mat-option value="otro">Otro</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
										<ion-col *ngIf="antForm.value.capituloUno.tipoTerritorio == 'otro'">
											<mat-form-field>
												<input type="text" formControlName="tipoTerritorioOtroCual" matInput placeholder="¿Cual?">
											</mat-form-field>
										</ion-col> 
									</ion-row>
									
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>1.4 - Zona de Manejo</mat-label>
												<mat-select formControlName="zonaManejo">
													<mat-option value=""></mat-option>
													<mat-option value="pdet">PDET</mat-option>
													<mat-option value="zrc">ZRC</mat-option>
													<mat-option value="zvc">Zona Veredales de Concentración</mat-option>
													<mat-option value="na">N/A</mat-option>
													<mat-option value="otro">Otro</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
										<ion-col *ngIf="antForm.value.capituloUno.zonaManejo == 'otro'">
											<mat-form-field>
												<input type="text" formControlName="zonaManejoOtraCual" matInput placeholder="¿Cual?">
											</mat-form-field>
										</ion-col>
									</ion-row>
									
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="text" formControlName="nombreTerritorio" matInput placeholder="1.5 - Nombre de Territorio">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input type="text" formControlName="nombrePredio" matInput placeholder="1.6 - Nombre del predio">
											</mat-form-field>
										</ion-col>
									</ion-row>
				
									<h3>1.7 - Coordenadas del Predio</h3>
									<ion-row>                  
										<ion-col>
											<mat-form-field>
												<input type="number" step="0.01"  formControlName="latitudPredio" matInput placeholder="Latitud Predio">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input type="number" step="0.01" formControlName="longitudPredio" matInput placeholder="Longitud Predio">
											</mat-form-field>
										</ion-col>
									</ion-row>
									
									<h3>1.8 - Localización</h3>
									<ion-row>
										<ion-button (click)="getGeolocation()">
											Mi Localización
										</ion-button>
										<mat-spinner [hidden]="!loadingGeoposition"></mat-spinner>
									</ion-row>

									<ion-row *ngIf="geoLatitude">
										<ion-col>
											<mat-form-field>
												<input formControlName="latitud" matInput placeholder="Latitud" value="{{geoLatitude}}" readonly>
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="longitud" matInput placeholder="Latitud" value="{{geoLongitude}}" readonly>
											</mat-form-field>
										</ion-col>
									</ion-row>
									
									<h3>1.9 - Observaciones Capitulo 1</h3>
									<ion-row>
										<mat-form-field>
											<textarea formControlName="observacionesCapituloUno" matInput placeholder="Observaciones Capitulo 1 "></textarea>
										</mat-form-field>
									</ion-row>
				
								</ion-grid>
							</mat-expansion-panel>			
						</div>

						<br>

						<div formGroupName="capituloDos">
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>										
										Capitulo 2. Información del Predio
									</mat-panel-title>
									<mat-panel-description *ngIf="antForm.controls.capituloDos.valid">																			
										<ion-icon name="checkmark-circle-outline" color="success" size="large"></ion-icon>								
									</mat-panel-description>
								</mat-expansion-panel-header>
								
								<ion-grid>
									
									<h3>2.1 - Área del predio</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="number" step="0.01" formControlName="areaPredio" matInput placeholder="Área del predio">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<mat-label>Medidas</mat-label>
												<mat-select formControlName="medida">
													<mat-option value=""></mat-option>
													<mat-option value="ha">Ha</mat-option>
													<mat-option value="fan">fan</mat-option>
													<mat-option value="m2">m2</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>
								
									<h3>2.2 - Colindantes</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input formControlName="norte" matInput placeholder="Norte">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="sur" matInput placeholder="Sur">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="este" matInput placeholder="Este">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="oeste" matInput placeholder="Oeste">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>2.3 - ¿Qué documento de propiedad posee del predio?</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Documento de Propiedad</mat-label>
												<mat-select formControlName="documentoPropiedad">
													<mat-option value=""></mat-option>
													<mat-option value="registrada">Resolución de adjudicación registrada</mat-option>
													<mat-option value="sin registrar">Resolución de adjudicación sin registrar</mat-option>
													<mat-option value="otro">Otro</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>
								</ion-grid>

								<div *ngIf="antForm.value.capituloDos.documentoPropiedad == 'otro'">
									<h3>2.3.1 - Otro</h3>
									
									<ion-grid>

										<ion-row>
											<ion-col>
												<mat-form-field>
													<input type="text" formControlName="resolucionAdjudicacionOtroCual" matInput placeholder="¿Cual?">
												</mat-form-field>
											</ion-col>
											<ion-col>
												<mat-form-field>
													<input formControlName="fechaAdjudicacionOtroCual" matInput placeholder="Fecha" type="date">
												</mat-form-field>
											</ion-col>
										</ion-row>

									</ion-grid>

								</div>	
								
								<div *ngIf="antForm.value.capituloDos.documentoPropiedad == 'registrada'">
									<h3>2.3.1 - Resolución de adjudicación registrada ante la oficina de Registros de Instrumentos Públicos</h3>
								
									<ion-grid>

										<ion-row>
											<ion-col>
												<mat-form-field>
													<input type="number" formControlName="numeroAjudicacionRegistrada" matInput placeholder="Numero">
												</mat-form-field>
											</ion-col>
											<ion-col>
												<mat-form-field>
													<input formControlName="fechaAdjudicacionRegistrada" matInput placeholder="Fecha" type="date">
												</mat-form-field>
											</ion-col> 
										</ion-row>

									</ion-grid>
								</div>

								<div *ngIf="antForm.value.capituloDos.documentoPropiedad == 'sin registrar'">
									<h3>2.3.1 - Resolución de adjudicación sin registrar</h3>

									<ion-grid>
								
										<ion-row>
											<ion-col>
												<mat-form-field>
													<input type="number" formControlName="numeroAjudicacionSinRegistrar" matInput placeholder="Numero">
												</mat-form-field>
											</ion-col>
											<ion-col>
												<mat-form-field>
													<input formControlName="fechaAjudicacionSinRegistrar" matInput placeholder="Fecha" type="date">
												</mat-form-field>
											</ion-col>
										</ion-row>
								
									</ion-grid>
										
								</div>

								<ion-grid>

									<h3>2.4 - Entidad de Derecho Público a la cual fue Adjudicado el predio</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="text" formControlName="entidadAdjudicada" matInput placeholder="Entidad de Derecho Público">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>2.5 - Servicio o Actividad de utilidad pública e interés social para la cual se adjudicó el predio:</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="text" formControlName="servicioActividad" matInput placeholder="Servicio o Actividad">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>2.5.1 - Tiempo establecido en el acto administrativo de adjudicación para el cumplimiento de la Actividad a desarrollar</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="number" min="0" formControlName="tiempoActividadAños" matInput placeholder="Años">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input type="number" min="1" max="12 "formControlName="tiempoActividadMes" matInput placeholder="Meses">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>2.6 - ¿Dentro del predio adjudicado se desarrolla una activdad diferente a la establecida en el acto administrativo de adjudicación?</h3>
									<ion-row>
										<ion-col>										
											<mat-radio-group formControlName="actividadDiferente" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
												<mat-radio-button value="no">NO</mat-radio-button>
											</mat-radio-group>
										</ion-col>
									</ion-row>
								
								</ion-grid>

								<div *ngIf="antForm.value.capituloDos.actividadDiferente == 'si'">
									
									<ion-grid>

										<ion-row>
											<ion-col>
												<mat-form-field>
													<textarea formControlName="actividadDiferenteCual" matInput placeholder="¿Cual?"></textarea>
												</mat-form-field>
											</ion-col>
										</ion-row>

										<h3>2.6.1 - ¿Desde hace cuanto tiempo?</h3>
										<ion-row>
											<ion-col>
												<mat-form-field>
													<mat-label>¿Desde hace cuanto tiempo?</mat-label>
													<input formControlName="actividadDiferenteTiempo" matInput placeholder="Tiempo">
												</mat-form-field>
											</ion-col>
										</ion-row>

									</ion-grid>

								</div>
								
								<ion-grid>

									<h3>2.7 - ¿Cuantas personas son  beneficiadas por la actividad desarrollada en el predio?</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="number" formControlName="personasBeneficiadas" matInput placeholder="Número de Personas">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>2.8 - ¿Que tipo de población es beneficiaria de la actividad desarrollada en el predio?</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<textarea type="text" formControlName="poblacionBeneficiaria" matInput placeholder="Población Beneficiaria"></textarea>
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>2.9 - Grupo etario beneficiado por la actividad desarrollada en el predio</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Grupo Etario</mat-label>
												<mat-select formControlName="grupoEtario">
													<mat-option value=""></mat-option>
													<mat-option value="primera infacia">Primera Infacia</mat-option>
													<mat-option value="infancia">Infancia</mat-option>
													<mat-option value="preadolescentes">Preadolescentes</mat-option>
													<mat-option value="adolescentes">Adolescentes</mat-option>
													<mat-option value="adultos">Adultos</mat-option>
													<mat-option value="adultos mayores">Adultos Mayores</mat-option>
													<mat-option value="todas anteriores">Todas las Anteriores</mat-option>
													<mat-option value="ninguna">Ninguna</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>2.10 - ¿El predio se encuentra en estado de abandono?</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="estadoAbandono" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
												<mat-radio-button value="no">NO</mat-radio-button>
											</mat-radio-group>
										</ion-col>
									</ion-row>
								
								</ion-grid>

								<div *ngIf="antForm.value.capituloDos.estadoAbandono == 'si'">
									
									<ion-grid>

										<h3>2.10.1 - Razón por la cual el predio se encuentra en estado de abandono</h3>
										<ion-row>
											<ion-col>
												<mat-form-field>
													<mat-label>Razón</mat-label>
													<mat-select formControlName="estadoAbandonoRazon">
														<mat-option value=""></mat-option>
														<mat-option value="orden publico">Orden Publico</mat-option>
														<mat-option value="falta recursos">Falta de Recursos</mat-option>
														<mat-option value="desastre natural">Desastre Natural</mat-option>
														<mat-option value="no adjudicacion">No era necesario esa adjudicacion</mat-option>
														<mat-option value="otro">Otro</mat-option>
													</mat-select>
												</mat-form-field>
											</ion-col>
											<ion-col *ngIf="antForm.value.capituloDos.estadoAbandonoRazon">
												<mat-form-field>
													<input type="text" formControlName="razonAbandonoOtroCual" matInput placeholder="¿Cual?">
												</mat-form-field>
											</ion-col> 
										</ion-row>

										<h3>2.10.2 - ¿Quien ocupa o administra el predio?</h3>
										<ion-row>
											<ion-col>
												<mat-form-field>
													<input type="text" formControlName="ocupacionAdministracion" matInput placeholder="¿Quien ocupa o administra el predio?">
												</mat-form-field>
											</ion-col>
										</ion-row>

									</ion-grid>

								</div>

								<ion-grid>

									<h3>2.11 - Observaciones Capitulo 2</h3>
									<ion-row>
										<mat-form-field>
											<textarea type="text" formControlName="observacionesCapituloDos" matInput placeholder="Observaciones Capitulo 2"></textarea>
										</mat-form-field>
									</ion-row>

								</ion-grid>

							</mat-expansion-panel>
						</div>

						<br>

						<div formGroupName="capituloTres">
							<mat-expansion-panel>
									
								<mat-expansion-panel-header>
									<mat-panel-title>										
										Capitulo 3. Infraestructura, Servicios y Estado del Predio
									</mat-panel-title>
									<mat-panel-description *ngIf="antForm.controls.capituloTres.valid">																			
										<ion-icon name="checkmark-circle-outline" color="success" size="large"></ion-icon>								
									</mat-panel-description>
								</mat-expansion-panel-header>
									
								<ion-grid>
									
									<h3>3.1 - ¿El predio cuenta con infraestructura instalada?</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="infraestructuraInstalada" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
												<mat-radio-button value="no">NO</mat-radio-button>
												<mat-radio-button value="n/a">N/A</mat-radio-button>
											</mat-radio-group>
										</ion-col>
									</ion-row>
								
								</ion-grid>
									
								<div *ngIf="antForm.value.capituloTres.infraestructuraInstalada == 'si'">
									
									<ion-grid>

										<h3>3.1.1 - ¿Que tipo de infraestructura instalada tiene el predio?</h3>
										<ion-row>
											<ion-col>
												<mat-form-field>
													<textarea type="text" formControlName="tipoInfraestructura" matInput placeholder="Descripcion"></textarea>
												</mat-form-field>
											</ion-col> 
										</ion-row>
											
										<h3>3.1.2 - ¿Cuenta con baterias sanitarias?</h3>
										<ion-row>
											<ion-col>
												<mat-radio-group formControlName="bateriasSanitarias" aria-label="Selecciona">
													<mat-radio-button value="si">SI</mat-radio-button>
													<mat-radio-button value="no">NO</mat-radio-button>
													<mat-radio-button value="n/a">N/A</mat-radio-button>
												</mat-radio-group>
											</ion-col>
										</ion-row>
									</ion-grid>
									
								</div>

								<ion-grid>

									<h3>3.2 - Estado general de toda la infraestructura</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Estado</mat-label>
												<mat-select formControlName="estadoInfraestructura">
														<mat-option value=""></mat-option>
														<mat-option value="exelente">Exelente</mat-option>
														<mat-option value="muy bueno">Muy Bueno</mat-option>
														<mat-option value="bueno">Bueno</mat-option>
														<mat-option value="regular">Regular</mat-option>
														<mat-option value="malo">Malo</mat-option>
														<mat-option value="pesimo">Pésimo</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>3.3 - ¿La infraestructura existía antes de la adjudicación del predio?</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="tipoInfraestructura" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
												<mat-radio-button value="no">NO</mat-radio-button>
											</mat-radio-group>
										</ion-col>
									</ion-row>

									<h3>3.4 - ¿La infraestructura ha sido objeto de inversiones o mejoras posteriores a la adjudicación?</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="inversionInfraestructura" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
												<mat-radio-button value="no">NO</mat-radio-button>
											</mat-radio-group>
										</ion-col>
									</ion-row>

								</ion-grid>

								<div *ngIf="antForm.value.capituloTres.inversionInfraestructura == 'si'">
								
									<ion-grid>
										
										<h3>3.4.1 - Cuantificación en pesos de estas mejoras</h3>
										<ion-row>
											<ion-col>
												<mat-form-field>
													<input type="text" formControlName="inversionInfraestructuraValor" matInput placeholder="Cuantificación en pesos de estas mejoras">
												</mat-form-field>
											</ion-col>
										</ion-row>

									</ion-grid>

								</div>

								<ion-grid>
										
									<h3>3.5 - ¿El predio cuenta con energía eléctrica?</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="energiaElectrica" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
													<mat-radio-button value="no">NO</mat-radio-button>
													<mat-radio-button value="n/a">N/A</mat-radio-button>
											</mat-radio-group>
										</ion-col>
									</ion-row>

									<h3>3.6 - ¿El predio cuenta con abastecimiento de agua?</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="abasteciomientoAgua" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
												<mat-radio-button value="no">NO</mat-radio-button>
												<mat-radio-button value="n/a">N/A</mat-radio-button>
										</mat-radio-group>
										</ion-col>
									</ion-row>

								</ion-grid>

								<div *ngIf="antForm.value.capituloTres.abasteciomientoAgua == 'si'">
								
									<ion-grid>

										<h3>3.6.1 - ¿El agua del predio es potable?</h3>
										<ion-row>
											<ion-col>
												<mat-radio-group formControlName="aguaPotable" aria-label="Selecciona">
													<mat-radio-button value="si">SI</mat-radio-button>
													<mat-radio-button value="no">NO</mat-radio-button>
												</mat-radio-group>
											</ion-col>
										</ion-row>
	
										<h3>3.6.2 - ¿El predio cuenta con tanques de almacenamiento de agua?</h3>
										<ion-row>
											<ion-col>
												<mat-radio-group formControlName="tanquesAlmacenamiento" aria-label="Selecciona">
													<mat-radio-button value="si">SI</mat-radio-button>
													<mat-radio-button value="no">NO</mat-radio-button>
												</mat-radio-group>
											</ion-col>
										</ion-row>

									</ion-grid>

								</div>

								<ion-grid>

									<h3>3.7 - Observaciones Capitulo 3</h3>
									<ion-row>
										<mat-form-field>
											<textarea type="text" formControlName="observacionesCapituloTres" matInput placeholder="Observaciones Capitulo 3"></textarea>
										</mat-form-field>
									</ion-row>
	
								</ion-grid>

							</mat-expansion-panel>

						</div>

						<br>

						<div formGroupName="capituloCuatro">
							<mat-expansion-panel>								
								<mat-expansion-panel-header>
									<mat-panel-title>										
										Capitulo 4. Testimonios
									</mat-panel-title>
									<mat-panel-description *ngIf="antForm.controls.capituloCuatro.valid">																			
										<ion-icon name="checkmark-circle-outline" color="success" size="large"></ion-icon>								
									</mat-panel-description>
								</mat-expansion-panel-header>
										
								<ion-grid>

									<h3>4.1 - Nombre del Encuestado</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="text" formControlName="nombre" matInput placeholder="Nombre del Encuestado">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>4.2 - Tipo de documento de Identificación</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="tipoIdentificacion" aria-label="Selecciona">
												<mat-radio-button value="cc">CC</mat-radio-button>
												<mat-radio-button value="ti">TI</mat-radio-button>
												<mat-radio-button value="ce">CE</mat-radio-button>
												<mat-radio-button value="otro">Otro</mat-radio-button>
											</mat-radio-group>
										</ion-col>
									</ion-row>

									<ion-row *ngIf="antForm.value.capituloCuatro.tipoIdentificacion == 'otro'">
										<ion-col>
											<mat-form-field>
												<input type="text" formControlName="tipoIdentificacionOtroCual" matInput placeholder="¿Cual?">
											</mat-form-field>
										</ion-col> 
									</ion-row>

									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="number" formControlName="numeroIdentificacion" matInput placeholder="4.2 - Número de Identificación">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input type="number" formControlName="numeroCelular" matInput placeholder="4.3 - Número Celular">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>4.4 - ¿Tiene correo electrónico?</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="tieneEmail" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
												<mat-radio-button value="no">NO</mat-radio-button>
											</mat-radio-group>
										</ion-col>
										<ion-col *ngIf="antForm.value.capituloCuatro.tieneEmail == 'si'">
											<mat-form-field>
												<input type="email" formControlName="correoElectronico" matInput placeholder="Correo Electronico">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>4.5 - ¿A qué institución pertenece?</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Institución</mat-label>
												<mat-select formControlName="institucion">
													<mat-option value=""></mat-option>
													<mat-option value="jac">JAC</mat-option>
													<mat-option value="institucion educativa">Institución Educativa</mat-option>
													<mat-option value="comunidad territorio">Comunidad</mat-option>
													<mat-option value="otro">Otro</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
										<ion-col *ngIf="antForm.value.capituloCuatro.institucion == 'otro'">
											<mat-form-field>
												<input type="text" formControlName="institucionOtroCual" matInput placeholder="¿Cual?">
											</mat-form-field>
										</ion-col> 
									</ion-row>

									<h3>4.6 - ¿Qué cargo tiene dentro de esta institución?</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="text" formControlName="cargoInstitucion" matInput placeholder="Cargo">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>4.7 - En su concepto, la actividad para la cual se adjudicó este predio se está desarrollando actualmente de la siguiente manera</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Activiadad Adjudicada</mat-label>		
												<mat-select formControlName="actividadAdjudicada">
													<mat-option value=""></mat-option>
													<mat-option value="deacuerdo">Completamente acorde al objetivo de adjudicación</mat-option>
													<mat-option value="parcialmente">Parcialmente acorde al objetivo</mat-option>
													<mat-option value="incompatible">Incompatible con la adjudicación</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>
									
									<h3>4.8 - El estado actual de la infraestructura es</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Estado Actual</mat-label>		
												<mat-select formControlName="estadoActual">
													<mat-option value=""></mat-option>
													<mat-option value="exelente">Exelente</mat-option>
													<mat-option value="muy bueno">Muy Bueno</mat-option>
													<mat-option value="bueno">Bueno</mat-option>
													<mat-option value="regular">Regular</mat-option>
													<mat-option value="malo">Malo</mat-option>
													<mat-option value="pesimo">Pésimo</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>4.9 - El servicio que se presta en el predio adjudicado es</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Activiadad Adjudicada</mat-label>		
												<mat-select formControlName="calidadServicioPrestado">
													<mat-option value=""></mat-option>
													<mat-option value="exelente">Exelente</mat-option>
													<mat-option value="muy bueno">Muy Bueno</mat-option>
													<mat-option value="bueno">Bueno</mat-option>
													<mat-option value="regular">Regular</mat-option>
													<mat-option value="malo">Malo</mat-option>
													<mat-option value="pesimo">Pésimo</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>
									
									
									<h3>4.10 - ¿Se han invertido recursos para mejorar la calidad de los servicios o actividades desarrolladas dentro del predio?</h3>
									<ion-row>
										<ion-col>
											<mat-radio-group formControlName="inversionActividades" aria-label="Selecciona">
												<mat-radio-button value="si">SI</mat-radio-button>
												<mat-radio-button value="no">NO</mat-radio-button>
											</mat-radio-group>
										</ion-col>
									</ion-row>

								</ion-grid>

								<div *ngIf="antForm.value.capituloCuatro.inversionActividades == 'si'">
									
									<ion-grid>

										<h3>4.10.1 - Hace cuánto tiempo se realizó la inversión</h3>
										<ion-row>
											<ion-col>
												<mat-form-field>
													<input type="text" formControlName="inversionActividadesTiempo" matInput placeholder="Hace cuánto tiempo se realizó la inversión">
												</mat-form-field>
											</ion-col>
										</ion-row>

									</ion-grid>

								</div>

								<ion-grid>

									<h3>4.11 - Observaciones Capitulo 4</h3>
									<ion-row>
										<mat-form-field>
											<textarea type="text" formControlName="observacionesCapituloCuatro" matInput placeholder="Observaciones Capitulo 4"></textarea>
										</mat-form-field>
									</ion-row>
									
								</ion-grid>

							</mat-expansion-panel>
						</div>   
						
						<br>

						<div formArrayName="fotos">
							<mat-expansion-panel>
									
								<mat-expansion-panel-header>
									<mat-panel-title>
										Imagenes										
									</mat-panel-title>
								</mat-expansion-panel-header>
									
								<ion-grid>																		
								
								<div *ngFor="let foto of fotoForms.controls; let i=index" [formGroupName]="i">
									<ion-row>
										<ion-col>
											<input type="file" placeholder="Foto" formControlName="file" (change)="getImage($event, i)">
										</ion-col>
										<ion-col>
											<ion-button color="danger" (click)="deletePictureInput(i)">Eliminar</ion-button>
										</ion-col>
									</ion-row>
								</div>

								<ion-row>
									<ion-col>
										<ion-button color="primary" (click)="addPictureInput()">Añadir Imagen</ion-button>
									</ion-col>
								</ion-row>										
										
								</ion-grid>
							</mat-expansion-panel>
						</div>

				</mat-accordion>
			
				<br>

				<ion-button [disabled]="antForm.invalid" color="success" type="submit">Enviar Formulario</ion-button>
				<!--
					<ion-button color="success" type="submit">Enviar Formulario (pruebas)</ion-button>
				-->				
			</form>        
		  
			<mat-spinner [hidden]="!loading"></mat-spinner>

			<div *ngIf="error" class="notification is-success">
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-button color="danger">Error inesperado.</ion-button>
						</ion-col>
						<ion-col>
							<ion-button color="danger" (click)="error=false">Nuevo Formulario</ion-button>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>

		  
			<div *ngIf="success" class="notification is-success">
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-button color="primary">Guardado correctamente.</ion-button>
						</ion-col>
						<ion-col>
							<ion-button color="success" (click)="resetForm()">Nuevo Formulario</ion-button>
						</ion-col>
					</ion-row>
				</ion-grid>

			</div>
  
        </ion-card-content>
    </div>		
    </ion-card>
</ion-content>
