<ion-header>
	<ion-toolbar>
    	<ion-buttons slot="start">
      		<ion-menu-button></ion-menu-button>
    	</ion-buttons>
		<ion-title>
			Agencia Nacional de Tierras
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
		<img src="/assets/shapes.svg" alt="" />
		
		<div *ngIf="auth.user$ | async as user; else login">
			<ion-card-header>
				<ion-card-title>FORMULARIO DE SEGUIMIENTO</ion-card-title>
				<ion-card-subtitle>Adjudicaciones Entidades de Derecho Publico</ion-card-subtitle>
			</ion-card-header>

        	<ion-card-content>
          		<form [formGroup]="antForm" (ngSubmit)="onSubmit()">
            		<mat-accordion>
						<div formGroupName="soliciudEDP">
							<mat-expansion-panel>
								
								<mat-expansion-panel-header>
									Numero de Solicitud EDP
								</mat-expansion-panel-header>
								
								<ion-grid>
									
									<ion-row>
										<mat-form-field>
											<input type="text" formControlName="numeroSolicitudEDP" matInput placeholder="Numero de Solicitud EDP">
										</mat-form-field>
									</ion-row>

									<ion-row>
										<ion-button color="success" (click)="updateModel()">Guardar</ion-button>
									</ion-row>

								</ion-grid>
							</mat-expansion-panel>
						</div>
				
						<br>

              			<div formGroupName="capituloUno">
							<mat-expansion-panel>
								
								<mat-expansion-panel-header>
									Capitulo 1. Identificación del Predio
								</mat-expansion-panel-header>
								<ion-grid>
									
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>1.1 - Departamento</mat-label>
												<mat-select formControlName="departamento">
													<mat-option value=""></mat-option>
													<mat-option value="prueba">Prueba</mat-option>
												</mat-select>
											</mat-form-field>                
										</ion-col>
										<ion-col>
											<mat-form-field>
												<mat-label>1.2 - Municipio</mat-label>
												<mat-select formControlName="municipio">                    
													<mat-option value=""></mat-option>
													<mat-option value="prueba">Prueba</mat-option>
												</mat-select>
											</mat-form-field>                
										</ion-col>
									</ion-row>                                         
									
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>1.3 - Tipo de Territorio</mat-label>		
												<mat-select formControlName="tipoTerritorio">
													<mat-option value=""></mat-option>
													<mat-option value="vereda">Vereda</mat-option>
													<mat-option value="corregimiento">Corregimiento</mat-option>
													<mat-option value="municipal">Cabecera Municipal</mat-option>
													<mat-option value="na">N/A</mat-option>
													<mat-option value="otros">Otros</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<mat-label>1.4 - Zona de Manejo</mat-label>
												<mat-select formControlName="zonaManejo">
													<mat-option value=""></mat-option>
													<mat-option value="pdet">PDET</mat-option>
													<mat-option value="zrc">ZRC</mat-option>
													<mat-option value="zvc">Zona Veredales de Concetración</mat-option>
													<mat-option value="otros">Otros</mat-option>
													<mat-option value="na">N/A</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>
									
									<ion-row>
										<ion-col>
											<mat-form-field>
											<input type="text" formControlName="nombreTerritorio" matInput placeholder="1.5 - Nombre de Territorio">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input type="text" formControlName="nombrePredio" matInput placeholder="1.6 - Nombre del predio">
											</mat-form-field>
										</ion-col>
									</ion-row>
				
									<h3>1.7 - Coordenadas del Predio</h3>
									<ion-row>                  
										<ion-col>
											<mat-form-field>
												<input formControlName="latitud" matInput placeholder="Latitud">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="longitud" matInput placeholder="Longitud">
											</mat-form-field>
										</ion-col>
									</ion-row>          
									
									<h3>1.8 - Observaciones Capitulo 1</h3>
									<ion-row>
										<mat-form-field>
											<textarea formControlName="observacionesCapituloUno" matInput placeholder="Observaciones Capitulo 1 "></textarea>
										</mat-form-field>
									</ion-row>
								
									<ion-row>
										<ion-button color="success" (click)="updateModel()">Guardar Capitulo 1</ion-button>
									</ion-row>
				
								</ion-grid>
							</mat-expansion-panel>
						</div>

						<br>

						<div formGroupName="capituloDos">
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									Capitulo 2. Información del Predio
								</mat-expansion-panel-header>
								
								<ion-grid>
									
									<h3>2.1 - Area del predio</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input type="number" formControlName="areaPredio" matInput placeholder="Area del predio">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<mat-label>Medidas</mat-label>
												<mat-select formControlName="medida">
													<mat-option value=""></mat-option>
													<mat-option value="ha">Ha</mat-option>
													<mat-option value="fan">fan</mat-option>
													<mat-option value="m2">m2</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>
								
									<h3>2.2 - Colindantes</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input formControlName="norte" matInput placeholder="Norte">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="sur" matInput placeholder="Sur">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="este" matInput placeholder="Este">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="oeste" matInput placeholder="Oeste">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<h3>2.3 - ¿Que documento de propiedad posse del predio?</h3>
									<ion-row>
										<mat-label>2.3.1 - Resolución de adjudicación registrada ante la oficina de Registros de Instrumentos Públicos</mat-label>
										<ion-col>
											<mat-form-field>
												<input formControlName="numeroAjudicacionRegistrada" matInput placeholder="Numero">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="fechaAdjudicacionRegistrada" matInput placeholder="Fecha">
											</mat-form-field>
										</ion-col> 
									</ion-row>

									<h3>2.3.2 - Resolución de adjudicación sin registrar</h3>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input formControlName="numeroAjudicacionSinRegistrar" matInput placeholder="Numero">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<input formControlName="fechaAjudicacionSinRegistrar" matInput placeholder="Fecha">
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-label>Otro</mat-label>
		                      				<mat-checkbox formControlName="resolucionAdjudicacionOtro" [(ngModel)]="resolucionAdjudicacionOtro"></mat-checkbox>                      
										</ion-col>
										<ion-col *ngIf="resolucionAdjudicacionOtro">
											<mat-form-field>
												<input formControlName="resolucionAdjudicacionOtroCual" matInput placeholder="¿Cual?">
											</mat-form-field>
										</ion-col> 
									</ion-row>

									<span>2.4 - Entidad de Derecho Publico a la cual fue Adjudicado el predio</span>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input formControlName="entidadAdjudicada" matInput placeholder="Entidad de Derecho Publico">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<span>2.5 - Servicio o Actividad de utilidad pública e interés social para la cual se adjudicó el predio:</span>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input formControlName="servicioActividad" matInput placeholder="Servicio o Actividad">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<span>2.5.1 - Tiempo establecido en el acto administrativo de adjudicacion para el cumplimiento de la Actividad a desarrollar</span>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input formControlName="tiempoActividad" matInput placeholder="Tiempo Establecido">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<span>2.6 - ¿Dentro del predio adjudicado se desarrolla una activdad diferente a la establecida en el acto administrativo de adjudicación?</span>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>¿Actividad Diferente?</mat-label>
												<mat-select formControlName="actividadDiferente" [(ngModel)]="actividadDiferente">
													<mat-option value=""></mat-option>
													<mat-option value="si">Si</mat-option>
													<mat-option value="no">No</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>

									<ion-row *ngIf="actividadDiferente == 'si'">
										<ion-col>
											<mat-form-field>
												<textarea formControlName="actividadDiferenteCual" matInput placeholder="¿Cual?"></textarea>
											</mat-form-field>
										</ion-col>
										<ion-col>
											<mat-form-field>
												<mat-label>2.6.1 - ¿Desde hace cuanto tiempo?</mat-label>
												<input formControlName="actividadDiferenteTiempo" matInput placeholder="Tiempo">
											</mat-form-field>
										</ion-col>
									</ion-row>
								
									<span>2.7 - ¿Cuantas personas son  beneficiadas por la actividad desarrollada en el predio?</span>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<input formControlName="personasBeneficiadas" matInput placeholder="Numero de Personas">
											</mat-form-field>
										</ion-col>
									</ion-row>

									<span>2.8 - ¿Que tipo de población es beneficiaria de la actividad desarrollada en el predio?</span>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<textarea formControlName="poblacionBeneficiaria" matInput placeholder="Población Beneficiaria"></textarea>
											</mat-form-field>
										</ion-col>
									</ion-row>

									<span>2.9 - Grupo etario beneficiado por la actividad desarollada en el predio</span>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Grupo Etario</mat-label>
												<mat-select formControlName="grupoEtario">
													<mat-option value=""></mat-option>
													<mat-option value="primera infacia">Primera Infacia</mat-option>
													<mat-option value="infancia">Infancia</mat-option>
													<mat-option value="preadolescentes">Preadolescentes</mat-option>
													<mat-option value="adolecentes">Adolecentes</mat-option>
													<mat-option value="adultos">Adultos</mat-option>
													<mat-option value="adultos mayores">Adultos Mayores</mat-option>
													<mat-option value="todas anteriores">Todas las Anteriores</mat-option>
													<mat-option value="ninguna">Ninguna</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>

									<span>2.10 - ¿El predio se encuentra en estado de abandono?</span>
									<ion-row>
										<ion-col>
											<mat-form-field>
												<mat-label>Abandono</mat-label>
												<mat-select formControlName="estadoAbandono" [(ngModel)]="estadoAbandono">
													<mat-option value=""></mat-option>
													<mat-option value="si">Si</mat-option>
													<mat-option value="no">No</mat-option>
												</mat-select>
											</mat-form-field>
										</ion-col>
									</ion-row>

									<div *ngIf="estadoAbandono == 'si'">
										<ion-row>
										<span>2.10.1 - Razón por la cual el predio se encuentra en estado de abandono</span>
											<ion-col>
												<mat-form-field>
													<mat-label>Razón</mat-label>
													<mat-select formControlName="estadoAbandonoRazon">
														<mat-option value=""></mat-option>
														<mat-option value="orden publico">Orden Publico</mat-option>
														<mat-option value="falta recursos">Falta de Recursos</mat-option>
														<mat-option value="desastre natural">Desastre Natural</mat-option>
														<mat-option value="no adjudicacion">No era necesario esa adjudicacion</mat-option>
													</mat-select>
												</mat-form-field>
											</ion-col>
											<ion-col>
												<mat-label>Otro</mat-label>
												<mat-checkbox formControlName="razonAbandonoOtro" [(ngModel)]="razonAbandonoOtro"></mat-checkbox>
											</ion-col>
											<ion-col>
												<mat-form-field *ngIf="razonAbandonoOtro">
													<input formControlName="razonAbandonoOtroCual" matInput placeholder="¿Cual?">
												</mat-form-field>
											</ion-col> 
										</ion-row>

										<span>2.10.2 - ¿Quien ocupa o administra el predio?</span>
										<ion-row>
											<ion-col>
												<mat-form-field>
													<input formControlName="ocupacionAdministracion" matInput placeholder="¿Quien ocupa o administra el predio?">
												</mat-form-field>
											</ion-col>
										</ion-row>
									</div>

									<h3>2.11 - Observaciones Capitulo 2</h3>
									<ion-row>
										<mat-form-field>
											<textarea formControlName="observacionesCapituloDos" matInput placeholder="Observaciones Capitulo 2"></textarea>
										</mat-form-field>
									</ion-row>

									<ion-row>
										<ion-button color="success" (click)="updateModel()">Guardar Capitulo 2</ion-button>
									</ion-row>
								</ion-grid>
							</mat-expansion-panel>
						</div>
            
            </mat-accordion>
          </form>                   
          
          <!--
          <h3>Firebase Database</h3>
          <ul>
            <li class="text" *ngFor="let item of items | async">
              {{item.name}}
            </li>
          </ul>    
          <ion-button (click)="create({name: 'Test'})">Create</ion-button>
  
          <h3>Reactive Form</h3>
          <form [formGroup]="antForm" (ngSubmit)="onSubmit()">
            
            <div formGroupName="chapterOne">
              <label>
                Name:
                <input type="text" formControlName="name">
              </label>
            </div>
            
            <p>
              Value
            </p>
            
            <button type="submit" [disabled]="!antForm.valid">Submit</button>
          </form>
          -->
  
        </ion-card-content>
    </div>

		<ng-template #login>

			<ion-card-header>
				<ion-card-title>Inicio de Sesion</ion-card-title>
			</ion-card-header>
					
			<ion-card-content>
				<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
					<ion-row>
						<ion-col>
							<mat-form-field>
								<input formControlName="email" matInput placeholder="Correo Electrónico" type="email">
							</mat-form-field>
						</ion-col>
						<ion-col>
							<mat-form-field>
								<input formControlName="password" matInput placeholder="Contraseña" type="password">
							</mat-form-field>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col></ion-col>
						<ion-col>
							<ion-button type="submit" color="primary">Iniciar Sesión</ion-button>
						</ion-col>
						<ion-col></ion-col>
					</ion-row>	
				</form>
			</ion-card-content>     
		</ng-template>
    </ion-card>
</ion-content>
