.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

ion-icon {
  margin: auto 0;
}

.mat-spinner {
  margin: 16px auto;
}

.mr-3 {
  margin-right: 12px;
}

.timestamps {
  font-size: 4em;
}